/* Navbar.css */
.navbar {
    background-color: purple;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .navbar-logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center; /* Center the links horizontally */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
  }
  
  .navbar-links li {
    font-size: 18px;
  }
  
  .navbar-links li a {
    color: white;
    text-decoration: none;
  }
  